<strong>Ola, {{provider}}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{user}} <br />
  <strong>Data/Hora: </strong>{{date}} <br />
  <br />
  <small>
    o Horário esta novamente disponivel para agendamento
  </small>
</p>
